<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZhangSanServlet</servlet-name>
    <servlet-class>com.ysd.servlet.ZhangSanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>lijinxiang.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>lijinxiang.SuccessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FailServlet</servlet-name>
    <servlet-class>lijinxiang.FailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Zhuceservlet</servlet-name>
    <servlet-class>lijinxiang.Zhuceservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>zhuce</servlet-name>
    <servlet-class>zhuce</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ZhangSanServlet</servlet-name>
    <url-pattern>/yuelao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/se</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/servlet/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FailServlet</servlet-name>
    <url-pattern>/servlet/FailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Zhuceservlet</servlet-name>
    <url-pattern>/zhuce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zhuce</servlet-name>
    <url-pattern>u/zhuce</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
